
{% load social_share %}
<div class="footer text-white">
	<div class="row">
		<div class="col-md-4 ">
			<h2 style="color: white";>Social Media Links</h2>
			<ul>
				<a href="https://www.facebook.com/" class="fa fa-facebook" style="display: block; padding: 5px;"></a>
				<a href="https://twitter.com/home" class="fa fa-twitter"style="display: block; padding: 5px;"></a>
				<a href="https://www.youtube.com/" class="fa fa-youtube"style="display: block; padding: 5px;"></a>
				<a href="https://www.instagram.com/" class="fa fa-instagram"style="display: block; padding: 5px;"></a>
			</ul>
		</div>
		<div class="col-md-4">
			<h2 style="color: white;">Quick Links</h2>
            <br>
            <ul style="text-decoration: none;">
            	<a href="#">
            		<li>HOME</li>
            	</a>
            	<a href="#">
            		<li>ABOUT</li>
            	</a>
            	<a href="#">
            		<li>GALLERY</li>
            	</a>
            </ul>
			
			
		</div>
		<div class="col-md-4" style="display: block;">
			<h2 style="color: white;">Contact us</h2>
			<p><a href="+263 719 522 488">+263 719 522 488</a></p>
			<p><a href="https://mail.google.com/mail/u/0/#inbox">kuzibaye@gmail.com</a></p>
		</div>
		<div style="text-align: center; width: 100%; padding-top: 20px; color: grey;">
			&copy; evidenceofgrace.com | designed by KB. 
		</div>
	</div>
</div>
