{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			<!--for security purposes-->
			{% csrf_token %}
			<!--bootstrap class used-->
			<fieldset class="form-group">
				<!--bootstrap class used with a margin bottom of 4-->
				<legend class="border-bottom mb-4"> Blog Post </legend>
				{{ form|crispy }}
			</fieldset>
			<!--bootstrap class used-->
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit"> Post </button>
			</div>
		</form>
	</div>
{% endblock content %}
